body { margin: 0; padding: 0; } #map { width: 100vw; height: 100vh; }
    .marker.NP { background-color: blue; width: 10px; height: 10px; border-radius: 50%; }
    .marker.CP { background-color: red; width: 10px; height: 10px; border-radius: 50%; }
    .marker.PP { background-color: orange; width: 10px; height: 10px; border-radius: 50%; }